@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin-top: 20px;
}

.container {
    width: 100%;
    align-content: center;
    align-items: center;
}

.title {
    font-size: 22px;
    text-align: center;
}

.subtitle {
    font-size: 13px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.menu button:not(.home) {
    height: 40px;
    width: 40px;
    font-size: 16px;
    background-color: blue;
}
